{{ stage('Start Semantic View Creation') }}

{# Collect TABLES #}
{% set name_map = {} %}

{%- for source in sources -%}
  {%- for thing in source.columns -%}
    {%- set name = thing.sourceColumns[0].node.name -%}
    {%- set _ = name_map.update({name: true}) -%}
  {%- endfor -%}
{%- endfor -%}

{%- set unique_names = name_map.keys() | list -%}

{# Collect Relevant Node IDs #}
{% set node_id_map = {} %}

{%- for source in sources -%}
  {%- for thing in source.columns -%}
    {%- set name = thing.sourceColumns[0].node.id -%}
    {%- set _ = node_id_map.update({name: true}) -%}
  {%- endfor -%}
{%- endfor -%}

{%- set unique_node_ids = node_id_map.keys() | list %}

{# Map Sources to Keys #}
{% set business_key_map = {} %}

{%- for source in sources -%}
  {%- for thing in source.columns -%}
    {%- for src in thing.sourceColumns -%}
      {%- if src.column.isBusinessKey %}
        {%- set table_name = src.node.name -%}
        {%- set column_name = src.column.name -%}



    {# Get the current list or initialize it #}
    {%- set current_keys = business_key_map.get(table_name, []) -%}

    {# Create a new list with the added column #}
    {%- set updated_keys = current_keys + [column_name] -%}

    {# Update the map with the new list #}
    {%- set _ = business_key_map.update({table_name: updated_keys}) -%}
  {%- endif %}
{%- endfor -%}