{% set nsSVvariables = namespace(primKey=[], foreignKey=[], factDetails=[], dimDetails=[], metricDetails=[]) %}
{% set objectFullPath = ref_no_link(desiredState.node.location.name, desiredState.node.name) %}
{% set desiredDatabase = desiredState.storageLocations
                            | selectattr('name', 'equalto', desiredState.node.location.name)
                            | map(attribute='database')
                            | first %}

{% for col in desiredState.columns if col.primaryKey %}

    {%- set srcTableLocName = desiredState.sources[0].columns 
                            | selectattr('id','eq', col.id)
                            | map(attribute='sourceColumns')
                            | first 
                            | map(attribute='node.location.name')
                            | first -%}

    {%- set srcTableName = desiredState.sources[0].columns 
                            | selectattr('id','eq', col.id)
                            | map(attribute='sourceColumns')
                            | first 
                            | map(attribute='node.name')
                            | first -%}

    {% set _ = nsSVvariables.primKey.append({
        "id": col.id,
        "name": col.name,
        "srcTablePath" : ref_no_link(srcTableLocName, srcTableName)
    }) %}

{% endfor %}

{% for col in desiredState.config.foreignKeyConfig.get('items') %}

    {% set fk = col.foreignKey %}
    {%- set srcTableName = desiredState.sources[0].columns 
                            | selectattr('id','eq', fk.id)
                            | map(attribute='sourceColumns')
                            | first 
                            | map(attribute='node.name')
                            | first -%}

    {% set _ = nsSVvariables.foreignKey.append({
        "id": fk.id,
        "name": fk.name,
        "srcTableName": srcTableName,
        "refTable": col.refTable
    }) %}
{% endfor %}

{% for item in desiredState.config.factDetConfig.get('items') %}

    {% set col = item.factCol %}
    {%- set srcTableName = desiredState.sources[0].columns 
        | selectattr('id', 'eq', col.id)
        | map(attribute='sourceColumns')
        | first 
        | select('defined')
        | selectattr('node', 'defined')
        | map(attribute='node.name') 
        | first 
        | default('', true) -%}

    
    {% set _ = nsSVvariables.factDetails.append({
        "id":   col.id   if col else None,
        "name": col.name if col else None,
        "srcTableName": srcTableName,
        "transform": item.factTranform or "",
        "alias": item.factAlias or "",
        "layer": item.factLayer
    }) %}
{% endfor %}

{% for item in desiredState.config.DimConfig.get('items') %}

    {% set col = item.dimCol %}
    {%- set srcTableName = desiredState.sources[0].columns 
        | selectattr('id', 'eq', col.id)
        | map(attribute='sourceColumns')
        | first 
        | select('defined')
        | selectattr('node', 'defined')
        | map(attribute='node.name') 
        | first 
        | default('', true) -%}

    {% set _ = nsSVvariables.dimDetails.append({
        "id": col.id if col else None,
        "name": col.name if col else None,
        "srcTableName": srcTableName,
        "transform": item.dimTransform or "",
        "alias": item.dimAlias or "",
        "layer": item.dimLayer
    }) %}
{% endfor %}

{% for item in desiredState.config.metricConfig.get('items') %}
    {% set col = item.metricCol %}
    {% set _ = nsSVvariables.metricDetails.append({
        "id": col.id if col else None,
        "name": col.name if col else None,
        "src": item.srcTable if item.srcTable else "",
        "transform": item.metricTransorm,
        "exprn": item.metricTransformExprn if item.metricTransformExprn else "",
        "alias": item.metricAlias if item.metricAlias else "",
        "layer": item.metricLayer
    }) %}
{% endfor %}

{% set baseCombined = nsSVvariables.primKey
                    +  nsSVvariables.foreignKey %}
{% set layerCombined = nsSVvariables.factDetails
                    + nsSVvariables.dimDetails
                    + nsSVvariables.metricDetails %}

{% set allBaseIds = baseCombined
    | map(attribute='id')
    | list
    | unique
    | list
%}
{% set allLayerIds = layerCombined
    | selectattr('alias', 'ne', '')
    | map(attribute='id')
    | list
    | unique
    | list
%}
{% set all_ids = allBaseIds + allLayerIds %}
{% set allSrcTables = nsSVvariables.primKey | map(attribute='srcTablePath') | list | unique | list %}

{# -------------------------------------------------------------- #}

{% if desiredState.config.deriveCol %}

    {{ stage('Drop Semantic View') }}
    EXECUTE IMMEDIATE $$
    DECLARE
    -- Default to NULL or 'NONE' so the IF checks don't crash
    target_type STRING DEFAULT 'NONE';
    BEGIN
    -- 1. Use INTO to capture the result
    SELECT count(*) 
        INTO :target_type
        FROM {{desiredDatabase}}.information_schema.semantic_views
        WHERE name = '{{ desiredState.node.name }}'
        LIMIT 1;

    -- 2. Drop the existing object based on its type
    IF (target_type = 1) THEN
        DROP SEMANTIC VIEW {{ objectFullPath }};
        RETURN 'Success: Semantic View found and dropped.';
    END IF;
    END;
    $$;

    {% set agg_funcs = ['count(', 'sum(', 'avg(', 'min(', 'max('] %}

    {{ stage('Create Schema Table', true, "sql", "create") }}
    CREATE OR REPLACE TABLE {{ objectFullPath }}
    AS
    SELECT
        layer2Columns.*,
        {%- for col in nsSVvariables.factDetails if col.id is none and col.layer == '3' %}
        {% if col.transform and agg_funcs | select('in', col.transform|lower) | list | length > 0 %}
            {{ col.transform | replace('(', '("') | replace(')', '")') }} AS "{{ col.alias }}",
        {% else %}
            {{ col.transform }} AS "{{ col.alias }}",
        {% endif %}
        {%- endfor %}
        {%- for col in nsSVvariables.dimDetails if col.id is none and col.layer == '3' %}
        {% if col.transform and agg_funcs | select('in', col.transform|lower) | list | length > 0 %}
            {{ col.transform | replace('(', '("') | replace(')', '")') }} AS "{{ col.alias }}",
        {% else %}
            {{ col.transform }} AS "{{ col.alias }}",
        {% endif %}
        {%- endfor %}
        {%- for col in nsSVvariables.metricDetails if col.id is none and col.layer == '3' %}
        {% if col.exprn and agg_funcs | select('in', col.exprn|lower) | list | length > 0 %}
            {{ col.exprn | replace('(', '("') | replace(')', '")') }} AS "{{ col.alias }}",
        {% else %}
            {{ col.exprn }} AS "{{ col.alias }}",
        {% endif %}
            {%- if not loop.last -%},{% endif %}
        {%- endfor %}
            FROM
            (
                SELECT
                    layer1Columns.*,
                    {%- for col in nsSVvariables.factDetails if col.id is none and col.layer == '2' %}
                    {% if col.transform and agg_funcs | select('in', col.transform|lower) | list | length > 0 %}
                        {{ col.transform | replace('(', '("') | replace(')', '")') }} AS "{{ col.alias }}",
                    {% else %}
                        {{ col.transform }} AS "{{ col.alias }}",
                    {% endif %}
                    {%- endfor %}
                    {%- for col in nsSVvariables.dimDetails if col.id is none and col.layer == '2' %}
                    {% if col.transform and agg_funcs | select('in', col.transform|lower) | list | length > 0 %}
                        {{ col.transform | replace('(', '("') | replace(')', '")') }} AS "{{ col.alias }}",
                    {% else %}
                        {{ col.transform }} AS "{{ col.alias }}",
                    {% endif %}
                    {%- endfor %}
                    {%- for col in nsSVvariables.metricDetails if col.id is none and col.layer == '2' %}
                    {% if col.exprn and agg_funcs | select('in', col.exprn|lower) | list | length > 0 %}
                        {{ col.exprn | replace('(', '("') | replace(')', '")') }} AS "{{ col.alias }}",
                    {% else %}
                        {{ col.exprn }} AS "{{ col.alias }}",
                    {% endif %}
                        {%- if not loop.last -%},{% endif %}
                    {%- endfor %}
                FROM
                (
                    SELECT
                    {%- for col in desiredState.sources[0].columns if col.id in all_ids %}
                        {{ col.name }} AS "{{ col.name }}",
                        {% set alias = all_ids 
                                        | selectattr('id', 'equalto', col.id) 
                                        | map(attribute='alias') 
                                        | first 
                                        | default('') 
                                        | trim
                                    %}
                        {% if alias != '' -%}
                            {{ col.name }} AS "{{ alias }}",
                        {%- endif -%}
                    {%- endfor %}
                    {%- for col in nsSVvariables.factDetails if col.layer == '1' %}
                        {%- if col.id and col.alias | trim != '' -%}
                            {{ col.name }} AS "{{ col.alias }}",
                        {%- elif col.id is none %}
                            {{ col.transform }} AS "{{ col.alias }}",
                        {% endif %}
                    {%- endfor %}
                    {%- for col in nsSVvariables.dimDetails if col.layer == '1' %}
                        {%- if col.id and col.alias | trim != '' -%}
                            {{ col.name }} AS "{{ col.alias }}",
                        {%- elif col.id is none %}
                            {{ col.transform }} AS "{{ col.alias }}",
                        {% endif %}
                    {%- endfor %}
                    {%- for col in nsSVvariables.metricDetails if col.layer == '1' %}
                        {%- if col.id and col.alias | trim != '' -%}
                            {{ col.name }} AS "{{ col.alias }}",
                        {%- elif col.id is none %}
                            {{ col.transform }} AS "{{ col.alias }}",
                        {% endif %}
                    {%- endfor %}
                        
                    FROM
                    {% for tablePath in allSrcTables %}
                        {{ tablePath }} {{tablePath.split('.')[-1].replace('"','')}}
                    {%- if not loop.last -%} , {% endif %}
                    {% endfor %}
                    GROUP BY ALL
                ) layer1Columns
                GROUP BY ALL
            ) layer2Columns

        WHERE 1=0
        GROUP BY ALL
        
{% else %}

    {{ stage('Drop Schema Table') }}
    EXECUTE IMMEDIATE $$
    DECLARE
    -- Default to NULL or 'NONE' so the IF checks don't crash
    target_type STRING DEFAULT 'NONE';
    BEGIN
    -- 1. Use INTO to capture the result
    SELECT table_type 
        INTO :target_type
        FROM {{desiredDatabase}}.information_schema.tables
        WHERE table_name = '{{ desiredState.node.name }}'
        LIMIT 1;

    -- 2. Drop the existing object based on its type
    IF (target_type = 'BASE TABLE') THEN
        DROP TABLE {{ objectFullPath }};
        RETURN 'Success: Table found and dropped.';
    END IF;
    END;
    $$;

    {{ stage('Create Semantic View', true, "sql", "create") }}
    CREATE OR REPLACE SEMANTIC VIEW {{ objectFullPath }}

    TABLES
    (
        {% for table, cols in nsSVvariables.primKey | groupby('srcTablePath') %}
        {{ table.split('.')[-1] | replace('"','') }} AS {{ table | replace('"','') }} PRIMARY KEY (
            {{ cols | map(attribute='name') | join(', ') }}
        ){% if not loop.last %},{% endif %}
        {% endfor %}
    )

    RELATIONSHIPS
    (
        {% for item in nsSVvariables.foreignKey %}
            {{ item.srcTableName }} ({{ item.name }}) REFERENCES {{ item.refTable }}
            
            {% if not loop.last %},{% endif %}
        {% endfor %}
    )

    FACTS (
        {%- for col in nsSVvariables.factDetails %}
            {% if col.transform %}
                {{ col.alias if col.alias 
                            else col.name }}
                AS {{ col.transform }}
            {% else %}      
                {{ col.srcTableName }}.{{ col.alias if col.alias 
                            else col.name }}
                AS {{ col.name }}
            {% endif %}

            {% if not loop.last %},{% endif %}
        {%- endfor %}
    )

    DIMENSIONS (
        {%- for col in nsSVvariables.dimDetails %}
            {% if col.transform != '' %}
                {{ col.alias if col.alias 
                            else col.name }}
                AS {{ col.transform }}
            {% else %}
                {% if col.alias != '' %}
                    {% if col.alias.split('.') | length == 2 %}
                        {{ col.alias }}
                    {% else %}
                        {{ col.srcTableName + '.' + col.alias }}
                    {% endif %}
                {% else %}
                    {{ col.srcTableName + '.' + col.name }}
                {% endif %}
                AS {{ col.srcTableName }}.{{ col.name }}
            {% endif %}

            {% if not loop.last %},{% endif %}
        {%- endfor %}
    )

    METRICS
    (
        {%- set metrics = desiredState.config.metricConfig.get('items') -%}
        {%- for m in metrics %}
            {%- if m.metricTransformExprn and m.metricTransformExprn != "" %}
                {{ m.metricAlias }} AS {{ m.metricTransformExprn }}
            {%- elif m.metricTransorm and m.metricCol %}
                {{ m.metricAlias }} AS {{ m.metricTransorm }}({{ m.metricCol.name }})
            {%- endif %}
            {%- if not loop.last %},{% endif %}
        {%- endfor %}
    )
{% endif %}