{% set nsSVvariables = namespace(primKey=[], foreignKey=[], factDetails=[], dimDetails=[], metricDetails=[]) %}
{% set objectFullPath = ref_no_link(desiredState.node.location.name, desiredState.node.name) %}
{% set desiredDatabase = desiredState.storageLocations
                            | selectattr('name', 'equalto', desiredState.node.location.name)
                            | map(attribute='database')
                            | first %}

{% for col in desiredState.columns if col.primaryKey %}

    {%- set srcTableLocName = desiredState.sources[0].columns 
                            | selectattr('id','eq', col.id)
                            | map(attribute='sourceColumns')
                            | first 
                            | map(attribute='node.location.name')
                            | first -%}

    {%- set srcTableName = desiredState.sources[0].columns 
                            | selectattr('id','eq', col.id)
                            | map(attribute='sourceColumns')
                            | first 
                            | map(attribute='node.name')
                            | first -%}

    {% set _ = nsSVvariables.primKey.append({
        "id": col.id,
        "name": col.name,
        "srcTablePath" : ref_no_link(srcTableLocName, srcTableName)
    }) %}

{% endfor %}

{% for col in desiredState.config.foreignKeyConfig.get('items') %}

    {% set fk = col.foreignKey %}
    {%- set srcTableName = desiredState.sources[0].columns 
                            | selectattr('id','eq', fk.id)
                            | map(attribute='sourceColumns')
                            | first 
                            | map(attribute='node.name')
                            | first -%}

    {% set _ = nsSVvariables.foreignKey.append({
        "id": fk.id,
        "name": fk.name,
        "srcTableName": srcTableName,
        "refTable": col.refTable
    }) %}
{% endfor %}

{% for item in desiredState.config.factDetConfig.get('items') %}

    {% set col = item.factCol %}
    {%- set srcTableName = desiredState.sources[0].columns 
        | selectattr('id', 'eq', col.id)
        | map(attribute='sourceColumns')
        | first 
        | select('defined')
        | selectattr('node', 'defined')
        | map(attribute='node.name') 
        | first 
        | default('', true) -%}

    
    {% set _ = nsSVvariables.factDetails.append({
        "id":   col.id   if col else None,
        "name": col.name if col else None,
        "srcTableName": srcTableName,
        "transform": item.factTranform or "",
        "alias": item.factAlias or ""
    }) %}
{% endfor %}

{% for item in desiredState.config.DimConfig.get('items') %}

    {% set col = item.dimCol %}
    {%- set srcTableName = desiredState.sources[0].columns 
        | selectattr('id', 'eq', col.id)
        | map(attribute='sourceColumns')
        | first 
        | select('defined')
        | selectattr('node', 'defined')
        | map(attribute='node.name') 
        | first 
        | default('', true) -%}

    {% set _ = nsSVvariables.dimDetails.append({
        "id": col.id if col else None,
        "name": col.name if col else None,
        "srcTableName": srcTableName,
        "transform": item.dimTransform or "",
        "alias": item.dimAlias or ""
    }) %}
{% endfor %}

{% for item in desiredState.config.metricConfig.get('items') %}
    {% set col = item.metricCol %}
    {% set _ = nsSVvariables.metricDetails.append({
        "id": col.id if col else None,
        "name": col.name if col else None,
        "src": item.srcTable if item.srcTable else "",
        "transform": item.metricTransorm,
        "exprn": item.metricTransformExprn if item.metricExprn else "",
        "alias": item.metricAlias if item.metricAlias else ""
    }) %}
{% endfor %}

{% set combined = nsSVvariables.primKey
                + nsSVvariables.foreignKey
                + nsSVvariables.factDetails
                + nsSVvariables.dimDetails
                + nsSVvariables.metricDetails %}

{% set all_ids = combined | map(attribute='id') | list | unique | list %}
{% set allSrcTables = nsSVvariables.primKey | map(attribute='srcTablePath') | list | unique | list %}

{# -------------------------------------------------------------- #}

{{ stage('Create Semantic View', true, "sql", "create") }}
CREATE OR REPLACE SEMANTIC VIEW {{ objectFullPath }}

TABLES
(
    {% for table, cols in nsSVvariables.primKey | groupby('srcTablePath') %}
    {{ table.split('.')[-1] | replace('"','') }} AS {{ table | replace('"','') }} PRIMARY KEY (
        {{ cols | map(attribute='name') | join(', ') }}
    ){% if not loop.last %},{% endif %}
    {% endfor %}
)

RELATIONSHIPS
(
    {% for item in nsSVvariables.foreignKey %}
        {{ item.srcTableName }} ({{ item.name }}) REFERENCES {{ item.refTable }}
        
        {% if not loop.last %},{% endif %}
    {% endfor %}
)

FACTS (
    {%- for col in nsSVvariables.factDetails %}
        {% if col.transform %}
            {{ col.alias if col.alias 
                        else col.name }}
            AS {{ col.transform }}
        {% else %}      
            {{ col.srcTableName }}.{{ col.alias if col.alias 
                        else col.name }}
            AS {{ col.name }}
        {% endif %}

        {% if not loop.last %},{% endif %}
    {%- endfor %}
)

DIMENSIONS (
    {%- for col in nsSVvariables.dimDetails %}
        {% if col.transform != '' %}
            {{ col.alias if col.alias 
                        else col.name }}
            AS {{ col.transform }}
        {% else %}
            {% if col.alias != '' %}
                {% if col.alias.split('.') | length == 2 %}
                    {{ col.alias }}
                {% else %}
                    {{ col.srcTableName + '.' + col.alias }}
                {% endif %}
            {% else %}
                {{ col.srcTableName + '.' + col.name }}
            {% endif %}
            AS {{ col.srcTableName }}.{{ col.name }}
        {% endif %}

        {% if not loop.last %},{% endif %}
    {%- endfor %}
)

METRICS
(
    {%- set metrics = desiredState.config.metricConfig.get('items') -%}
    {%- for m in metrics %}
        {%- if m.metricTransformExprn and m.metricTransformExprn != "" %}
            {{ m.metricAlias }} AS {{ m.metricTransformExprn }}
        {%- elif m.metricTransorm and m.metricCol %}
            {{ m.metricAlias }} AS {{ m.metricTransorm }}({{ m.metricCol.name }})
        {%- endif %}
        {%- if not loop.last %},{% endif %}
    {%- endfor %}
)